<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/js/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/js/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/js/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/js/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/js/ico/favicon.png">
  </head>
  <body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">JControl Panel</a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Manage Modules</li>
						<li class="active"><a href="#">List Modules</a></li>
					</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<div class="span9">
				<%- body %>
			</div><!--/span-->
		</div><!--/row-->
		<hr>
		<footer>
			<p>&copy; Karthik Thirumalasetti 2013</p>
		</footer>
	</div>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/nowjs/now.js"></script>
	<script>
		var restartModule;
		now.ready(function(){
			var moduleSetStarted = function(element, module_name){
				$(".module_status",element).html('<span class="badge badge-success">Running</span>');
				$(".module_triggers",element).html($('.started_buttons_hidden').html().replace("$module_name", module_name));
			}
			var moduleSetStopped = function(element, module_name){
				$(".module_status",element).html('<span class="badge badge-important">Stopped</span>');
				$(".module_triggers",element).html($('.stopped_buttons_hidden').html().replace("$module_name", module_name));
			}
			now.moduleStarted=function(module_name){
				moduleSetStarted($("#"+module_name+"_module"), module_name);
			}
			now.moduleStopped=function(module_name){
				moduleSetStopped($("#"+module_name+"_module"), module_name);
			}
		});
	</script>
	</body>
</html>